{% extends "base.html" %}
{% load static %}
{% block content %}



    {% block cart_quantity %}
        <div id="cart-qty" class="qty">{{ cart_qty }}</div>
    {% endblock %}
    {% block wishlist_count %}
        <div id="wishlist-qty" class="qty">{{ wishlist_count }}</div>
    {% endblock %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-5">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Don't have an account?</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.phone.label }}
                                {% if form.phone.errors %}
                                    <div class="alert alert-danger">{{ form.phone.errors }}</div>
                                {% endif %}
                                {{ form.phone }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label }}
                                {% if form.password.errors %}
                                    <div class="alert alert-danger">{{ form.password.errors }}</div>
                                {% endif %}
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                {% if form.captcha.errors %}
                                    <div class="alert alert-danger">{{ form.captcha.errors }}</div>
                                {% endif %}
                                {{ form.captcha }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="primary-btn order-submit">register</button>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="{% url "account:user_login" %}" style="color: #fff">Do you have an account?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}